<h2>Editing Book</h2>
<%= form_with model:@book,local: true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Body</p>
  <%= f.text_area :body %>
  <br><%= f.submit 'Update Book' %></br>
<% end %>

<%= link_to "Show", book_path(@book) %>
<%= link_to "Back", books_path %>